*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #125346;
}

*::-webkit-scrollbar-thumb {
  background-color: #0c453a;
  border-radius: 1px;
}
body {
  background: linear-gradient(97.52deg, #002F46 12.98%, #106756 71.70%);
  height: 100vh;
}
.css-12i7wg6-MuiPaper-root-MuiDrawer-paper,
.css-1l8j5k8 {
  border-right: none !important;
}
.active {
  color: #37c7ab !important;
}
.btnContent:hover {
  background-color: rgb(12, 71, 59) !important;
}
.container::before {
  content: "";
  width: 100%;
  top: 5rem;
  position: absolute;
  left: 0;
  height: calc(100% + 5rem);
  background-image: url(/public/img/rios.png) !important;
  background-position: center;
  background-size: 100% 85%;
  background-repeat: no-repeat;
}
