*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #125346;
}

*::-webkit-scrollbar-thumb {
  background-color: #0c453a;
  border-radius: 1px;
}
.css-12i7wg6-MuiPaper-root-MuiDrawer-paper,
.css-1l8j5k8 {
  border-right: none !important;
}
